# Idea Folder
/.idea

# mainSrc
/gradlew
/gradlew.bat
/.gradle
/build

# buildSrc
/buildSrc/.gradle
/buildSrc/build
/buildSrc/gradlew
/buildSrc/gradlew.bat
/dependencies.json

/run

/puzzle-query-language/build
/lib