# Idea Folder
/.idea

# mainSrc
/gradlew
/gradlew.bat
/.gradle
/build

# buildSrc
/buildSrc/.gradle
/buildSrc/build
/buildSrc/gradlew
/buildSrc/gradlew.bat
/dependencies.json

/run

/lib
/src/common/java/dev/puzzleshq/puzzleloader/cosmic/game/blockloader/generation/model/interfaces/*.java
/src/common/java/dev/puzzleshq/puzzleloader/cosmic/game/blockloader/generation/model/interfaces/impl/**.java
